<!-- Almost same as app/views/queries/_columns.html.erb, except collections for select tags. -->
<table class="query-columns">
  <tr>
    <td style="padding-left:0">
      <%= label_tag "available_columns", l(:description_available_columns) %>
      <br />
      <%= select_tag 'available_columns',
              options_from_collection_for_select(@custom_notification_template.available_fields, :name, :label),
              :multiple => true, :size => 10, :style => "width:150px; height:200px;",
              :ondblclick => "moveOptions(this.form.available_columns, this.form.selected_columns);" %>
    </td>
    <td class="buttons">
      <input type="button" value="&#8594;"
       onclick="moveOptions(this.form.available_columns, this.form.selected_columns);" /><br />
      <input type="button" value="&#8592;"
       onclick="moveOptions(this.form.selected_columns, this.form.available_columns);" />
    </td>
    <td>
      <%= label_tag "selected_columns", l(:description_selected_columns) %>
      <br />
      <%= select_tag "custom_notification_template[field_names]",
              options_from_collection_for_select(@custom_notification_template.selected_fields, :name, :label),
              :id => 'selected_columns', :multiple => true, :size => 10, :style => "width:150px;height:200px;",
              :ondblclick => "moveOptions(this.form.selected_columns, this.form.available_columns);" %>
    </td>
    <td class="buttons">
      <input type="button" value="&#8593;" onclick="moveOptionUp(this.form.selected_columns);" /><br />
      <input type="button" value="&#8595;" onclick="moveOptionDown(this.form.selected_columns);" />
    </td>
  </tr>
</table>

<% content_for :header_tags do %>
<%= javascript_include_tag 'select_list_move' %>
<% end %>
