<!-- FIXME: move to assets/javascripts -->
<script type="text/javascript">
  $("#custom-notification-template-form").submit(function() {
      $("#selected_columns").children('option').attr('selected', true);
      return true;
  });
</script>

<%= error_messages_for @custom_notification_template %>
<div class="box tabular">
  <p><%= f.select :tracker_id, options_from_collection_for_select(@trackers, :id, :name, :selected => @custom_notification_template.try(:tracker).try(:id)), {}, { :onchange => "updateForm(this);" } %>
  <p><%= f.text_field :name, :size => 60, :required => true %></p>
  <p><%= f.text_field :to_users, :size => 60 %></p>
  <p><%= f.text_field :cc_users, :size => 60 %></p>
  <p><%= f.text_field :bcc_users, :size => 60 %></p>
  <p><%= f.text_area :header, :cols => 70, :rows => 3 %></p>
  <p><%= f.text_area :footer, :cols => 70, :rows => 3 %></p>
</div>

<div class="box">
  <table>
    <tr>
      <th><label for="custom_notification_template_field_names"><%= l(:field_field_names) %></label></th>
      <td id="notification-fields"><%= render :partial => 'columns' %></td>
    </tr>
  </table>
</div>
