<%= title [l(:label_custom_notification_template_plural), { :controller => 'custom_notification_templates', :action => 'index', :project_id => @project }],
          l(:label_new_custom_notification_template) %>

<script type="text/javascript">
  <% url = url_for(:controller => 'custom_notification_templates', :action => 'update_form', :project_id => @project) %>
  function updateForm(obj) {
    $.ajax({
      url: '<%= escape_javascript url %>',
      type: 'get',
      data: { tracker_id: $(obj).val() }
    });
  }
</script>

<%= labelled_form_for @custom_notification_template,
  :url => { :controller => 'custom_notification_templates', :action => 'create', :project_id => @project } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit l(:button_create) %>
  </p>
<% end %>
