<h3 class="title"><%= l(:label_new_notification) %></h3>

<%= labelled_form_for @notification_template, :url => url_for(:controller => 'custom_notification', :action => 'send_mail'), :remote => true do |f| %>

  <!-- TODO: use partial -->
  <%= error_messages_for 'foo' %>

  <div class="box tabular">
  <p><%= f.text_field :to_users, :size => 60 %></p>
  <p><%= f.text_field :cc_users, :size => 60 %></p>
  <p><%= f.text_field :bcc_users, :size => 60 %></p>
  <p><%#= f.text_area :body, :cols => 60, :rows => 20, :required => true %></p>
  </div>

  <p class="buttons">
    <%= submit_tag l(:button_create), :name => nil %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
<% end %>
